
.popup{width: 420px;height: 420px;border: 0px solid #ccc;position:absolute;left: calc(50% - 210px);top:150px;display:none; z-index: 2}
.popup a{width: 50px;height: 50px; border-radius: 99px; background: rgba(255,255,255,0.8);position: absolute; right: -40px; top: -55px; text-align: center}
.popup a > img{margin-top: 14px}
DIV.chat
{
  width: 420px;
  height: 420px;
    padding-top: 10px;
  /*border: 2px solid #0c4da2;*/
  overflow-y: scroll;
    overflow-x: hidden;
  font-size: small;
    background:#eee url("../images/logo_bg.png") center no-repeat;
}

DIV.chat_main
{
    width: 420px;
    height: 470px;
    background-color: rgba(255,255,255,1);
    padding: 20px;
    border-radius: 10px;
}

TABLE
{
  border-collapse: collapse;
}

TD
{
  vertical-align: top;
  font-size: small;
  font-family: verdana;
}

TABLE.bordered
{
  border: 1px solid #808080;
}

TABLE.bordered TD
{
  vertical-align: middle;
  border: 1px solid #808080;
  text-align: center;
  padding: 10px;
}

TABLE.chat_messages
{
  border: 1px solid #CDCDCD;
  width: 800px;
}

TABLE.chat_messages TD
{
  vertical-align: top;
  border: 1px solid #CDCDCD;
  padding: 5px;
}

TABLE.filter TD
{
  vertical-align: middle;
  text-align: left;
  padding: 10px;
}

TABLE.chat
{
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
  vertical-align: top;
}

TABLE.chat TD
{
  font-size: small;
  font-family: verdana;
  vertical-align: top;
  padding: 0px;
}

TABLE.chat TD.cnst_msg
{
  text-align: left;
}

TABLE.chat TD.user_msg
{
  text-align: right;
}

TABLE.chat TD.error_msg
{
  border: 1px solid #FF0000;
  text-align: center;
  padding: 5px;
}

TABLE.chat TD.info_msg
{
  border: 1px solid #000080;
  text-align: center;
  padding: 5px;
}

TABLE.chat_msg
{
  width: 100%;
  border-collapse: separate;
  vertical-align: top;
}

TABLE.chat_msg TD
{
  font-size: small;
  font-family: verdana;
  vertical-align: top;
  padding: 5px;
}

TABLE.chat_msg TD.filler
{
  width: 100px;
}
TABLE.chat_msg TD.cnst_msg::before{
    content: '';
    width: 100px;
    height: 68px;
    display: inline-block;
    background: url("../images/icon_a.png") no-repeat;
    position: absolute;
    left: -6px;
    top: -32px;
    background-size: 60%;
}
TABLE.chat_msg TD.cnst_msg
{
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  background:#fff;
  padding-left: 20px;
  line-height: 20px;
  color: #222;    
    position: relative;
}

TABLE.chat_msg TD.user_msg
{
  border: 0px solid #e8e8e8;
  border-radius: 10px;
  text-align: right;
  background:#333;
  padding-right: 10px;
  line-height: 20px;
    color: #fff;
     position: relative;
}
TABLE.chat_msg TD.user_msg::after{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../images/icon_q_bg.png") no-repeat;
    position: absolute;
    right: -12px;
    top: 0px;
    background-size: 80%;
}
TABLE input{
    color: #222;
    font-weight: bold;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
TABLE button{
    background-color: #3c5478;
    color: #fff;
    border: 1px solid #3c5478;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
}
TABLE button > img{vertical-align: unset}
TD.title
{
  font-weight: bold;
  color: #000080;
  text-align: center;
  padding: 5px;
}

TR.title TD
{
  font-weight: bold;
  color: #000080;
  text-align: center;
  padding: 5px;
}

SPAN.title
{
  font-size: medium;
}

SPAN.small_text
{
  font-size: x-small;
}

SPAN.success
{
  color: #008000;
  font-weight: bold;
}

SPAN.error
{
  color: #FF0000;
  font-weight: bold;
}

SPAN.info
{
  color: #000080;
  font-weight: bold;
}

SPAN.msg_title
{
  color: #AAAAAA;
}
.input_text_area{width: 100%}
.input_text{width: 375px; box-sizing: border-box}
.close_btn{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 99px;
    height: 50px;
    width: 50px;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background: url("../images/close_btn.png") no-repeat rgba(0,0,0,0.5) 15px center;
    font-size: 0px;
}

@keyframes footerQuick {
	0% {
		width:60px;
	}
	25% {
		width:180px;
	}
	75% {
		width:180px;
	}
	100%{
		width:60px;
	}
}
@keyframes footerQuickTxt {
	0% {
		opacity:0;
	}
	25% {
		opacity:1;
	}
	75% {
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
@media screen and (max-width:460px)
{
    .popup{width: 100%;height: 100%;left: 0px; bottom: 0px; top: auto}
    .popup > a{bottom: 520px; top: auto; left: calc(50% - 25px);}
    .chatbot_area{bottom: 0px; position: absolute; width: 100%;}
    div.chat_main{width: calc(100% - 40px); height: 100%; border-radius: 20px 20px 0px 0px; padding: 20px 20px 0px;}
    div.chat{width: 100%; }
    .input_text{width: 98%}
}