body.ofy {
	-ms-overflow-y: hidden;
}
#wrap {
	width: 100%; position: relative;
}
.swiper-container { 
   width: 100%; 
   height: auto; 
 } 
 .swiper-slide { 
    font-size: 18px; 
    background: #fff; 
    position: relative;

    /* Center slide text vertically */ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    -webkit-align-items: center; 
    align-items: center; 
     /*margin-right: 0px !important; */
      background-color: #090f27
}
.swiper-slide > .text{position: absolute; z-index: 2; top: 40%; color: #fff; font-size: 50px; letter-spacing: -5px; text-align: center; width: 100%}
.swiper-slide > .text > a{display: block; margin: 0 auto; margin-top: 40px}
.swiper-button-prev, .swiper-bdisplay: on-next {}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {color: #fff;}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {color: #fff;}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0px 20px;}
.swiper-pagination{bottom: 50px !important; width: 100%; margin: 0 auto}
.swiper-pagination-bullet {width: 18px; height: 18px; background-color: #fff; opacity: 0.4; margin-right: 10px}
.swiper-pagination-bullet-active {background-color: #fff; opacity: 1}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {margin: 0 auto}
.swiper-slide > img{width: 100%; height: 100%}
.div_contact.nuri_menu{position: relative;}
#section02{background-image: url(../images/main_bg4.png),url(../images/main_bg5.png);
background-repeat: no-repeat, no-repeat;
background-position:10% -80%,90% 130%}
.nuri_menu_info{width: 1125px; margin: 0 auto; padding: 0px 20px; margin-top: 50px}
.nuri_menu_info ul li{float: left;width: 317px; height: 449px; position: relative; margin-right: 80px}
.nuri_menu_info ul li a{width: 317px; height: 449px;color: #fff; font-size: 14px; position: absolute; padding-left: 40px; padding-top: 300px; letter-spacing: -2px; box-sizing: border-box}
.nuri_menu_info ul li:nth-child(1){ background: url(../images/main_menu1.png) center center no-repeat;}
.nuri_menu_info ul li:nth-child(2){ background: url(../images/main_menu2.png) center center no-repeat; margin-top: -100px}
.nuri_menu_info ul li:nth-child(3){ background: url(../images/main_menu3.png) center center no-repeat; margin-top: 50px}
.nuri_menu_info ul li:last-child{margin-right: 0px}
.nuri_menu_info ul li a > p{font-size: 32px; line-height: 38px; padding-top: 5px}
.main_tit{background-color: #f5f5f5; position: relative; font-size: 28px;}
.main_tit.bgw{background-color: #fff; background: url(../images/main_bg5.png) no-repeat 10% -40%}
.main_tit .text{text-align: center; letter-spacing: -1px}
.main_tit .text > p{font-size: 58px;margin-bottom: 20px;} 
.main_tit .solution{margin: 0 auto; width: 1029px; margin-top: 70px}
.main_tit .solution p{color: #dd3e50; font-size: 36px; text-decoration: none; text-align: center; padding-bottom: 40px}
.main_tit .solution ul li a{float: left; width: 307px; margin-right: 54px; height: 180px; text-align: center;}
.main_tit .solution ul li:nth-child(1) a{background: url(../images/main_solution1.png) center bottom no-repeat; }
.main_tit .solution ul li:nth-child(2) a{background: url(../images/main_solution2.png) center bottom no-repeat; }
.main_tit .solution ul li:nth-child(3) a{background: url(../images/main_solution3.png) center bottom no-repeat; }
.main_tit .solution ul li:last-child a{margin-right: 0px}

.main_tit .solution_name{margin: 0 auto; width: 1029px; margin-top: 50px}
.main_tit .solution_name p{color: #dd3e50; font-size: 36px; text-decoration: none; text-align: center; padding-bottom: 40px; background-image: url(../images/main_icon1.png),url(../images/main_icon3.png);
background-repeat: no-repeat, no-repeat; background-position:10%,90%; background-size: 82px; padding-top: 50px; margin-bottom: 50px;}
.main_tit .solution_name ul li{float: left; width: 256px; height: 46px; text-align: center; margin-bottom: 10px}
.main_tit .solution_name ul li:hover{background-color: #f3f3f3; border-radius: 30px; box-sizing: border-box}
.main_tit .solution_name ul li:last-child{margin-right: 0px}
.main_tit .solution_name ul li a > img{height: 22px}
.main_tit .solution_name ul li a > img.h17{height: 17px}

.main_business{width: 1048px; margin: 0 auto; position: relative;}
.main_business > .title a{ background: url(../images/icon_add.png) 55px center no-repeat #dd3e50; width: 247px; height: 130px; line-height: 130px; border-radius: 65px; color: #fff; text-align: center; font-size: 36px; padding-left: 60px; position: absolute;left: -117px; top: -62px; z-index: 9}
.main_business ul li a{float: left; width: 348px; border-left: 1px solid #ececec;text-align: center; padding-top: 340px; padding-bottom: 80px;}
.main_business ul li:hover a{background-position: center 40% !important; transition: 0.3s; background-color: #f5f5f5 !important; color: #dd3e50}
.main_business ul li:nth-child(1) a{background: url(../images/main_icon1.png) center center no-repeat; }
.main_business ul li:nth-child(2) a{background: url(../images/main_icon2.png) center center no-repeat; }
.main_business ul li:nth-child(3) a{background: url(../images/main_icon3.png) center center no-repeat; border-right: 1px solid #ececec;}
.main_business ul li a > img{}
.main_business ul li a > p{font-size: 36px; padding-top: 40px;}


.main_title{font-size: 30px; color: #8a8f9c;}
.main_qna{background-color: #253252;letter-spacing: -1px; color: #fff;}
.main_qna_info{width: 1048px; margin: 0 auto; margin-bottom: 70px; position: relative}
.main_qna_info .qna{position: relative}
.main_qna_info .qna > p{font-size: 20px;padding: 40px 0px; line-height: 32px;}
.main_qna_info .qna > .btn a{font-size: 16px; background: url(../images/icon_btn_bg.png) 80% center no-repeat; background-size: 25px; padding-left: 30px; width: 135px; height: 34px; line-height: 34px; border: 1px solid #fff; color: #fff; border-radius: 17px; float: right; position: absolute; top: 50%; right: 0px;}
.main_qna_info .nuri{height: 100%}
.main_qna_info .nuri a{background: url(../images/icon_add.png) center 70% no-repeat #223051; width: 350px;height: 100%; float: right; text-align: center}
.main_qna_info .nuri a > img{padding-top: 160px}

.main_news{width: 1048px; height: 415px; margin: 0 auto; position: relative;border-left: 1px solid #ececec;border-right: 1px solid #ececec;}
.main_news_info{width: 1048px; margin: 0 auto;}
.main_news_info .news{float: left}
.main_news_info .news > p{}
.main_news_info .news ul{margin-top: 30px}
.main_news_info .news ul li{font-size: 20px; line-height: 40px;}
.main_news_info .news ul li > a{color: #fff}
.main_news_info .location{float: right}
.location a{width: 510px;height: 220px; float: right; background: url(../images/main_icon4.png) 40% bottom no-repeat;color: #8a8f9c;}

/*세로스크롤 시작*/
.fp-enabled body {margin: 0px; padding: 0px; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html.fp-enabled {margin: 0px; padding: 0px; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.fp-section {position: relative; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.fp-slide {float: left;}
.fp-slide {height: 100%; display: block;}
.fp-slidesContainer {height: 100%; display: block;}
.fp-slides {transition:0.3s ease-out; height: 100%; overflow: hidden; position: relative; z-index: 1; -webkit-transition: all .3s ease-out;}
.fp-section.fp-table {width: 100%; display: table; table-layout: fixed; }
#section01 {background-color: #090f27}
.fp-slide.fp-table {width: 100%; display: table; table-layout: fixed;}
.fp-tableCell {width: 100%; height: 100%; vertical-align: middle; display: table-cell; }
.fp-slidesContainer {float: left; position: relative;}
.fp-controlArrow {border-style: solid; top: 50%; width: 0px; height: 0px; margin-top: -38px; position: absolute; z-index: 4; cursor: pointer; -ms-user-select: none; transform: translate3d(0px, 0px, 0px); -webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-transform: translate3d(0, 0, 0);}
.fp-controlArrow.fp-prev {border-width: 38.5px 34px 38.5px 0px; border-color: transparent rgb(255, 255, 255) transparent transparent; left: 15px; width: 0px;}
.fp-controlArrow.fp-next {border-width: 38.5px 0px 38.5px 34px; border-color: transparent transparent transparent rgb(255, 255, 255); right: 15px;}
.fp-scrollable {overflow: hidden; position: relative;}
.fp-scroller {overflow: hidden;}
.iScrollIndicator {border: 0px currentColor !important; border-image: none !important;}
.fp-notransition {transition:none !important; -webkit-transition: none;}
.fp-auto-height .fp-slide {height: auto !important;}
.fp-auto-height .fp-tableCell {height: auto !important;}
.fp-auto-height.fp-section {height: auto !important;}
.fp-responsive .fp-auto-height-responsive .fp-slide {height: auto !important;}
.fp-responsive .fp-auto-height-responsive .fp-tableCell {height: auto !important;}
.fp-responsive .fp-auto-height-responsive.fp-section {height: auto !important;}
#fp-nav {margin: -86px 0px 0px; top: 50%; right: 50px; position: fixed; z-index: 99;}
#fp-nav ul li {margin: 24px 0px 0px; width: 24px; height: 24px;}
#fp-nav ul li:last-child {display: none;}
#fp-nav ul a {height: 24px; display: block; position: relative;}
#fp-nav ul a.active span {border-width: 1px; border-color: rgb(223, 0, 44); border-radius: 0px; left: 11px; top: 0px; width: 2px; height: 100%; -webkit-border-radius: 0; -moz-border-radius: 0;}
#fp-nav ul a span {border-radius: 100%; border: 2px solid rgb(255, 255, 255); transition:0.2s; left: 7px; top: 7px; width: 10px; height: 10px; position: absolute; box-sizing: border-box; -webkit-border-radius: 100%; -moz-border-radius: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease;}
.fp-viewing-nuriinfos #fp-nav li span {border-color: rgb(96, 96, 96);}
.fp-viewing-business #fp-nav li span {border-color: rgb(96, 96, 96);}
.fp-viewing-solution #fp-nav li span {border-color: rgb(96, 96, 96);}
.fp-viewing-news #fp-nav li span {border-color: rgb(255, 255, 255);}
.fp-viewing-footerStep #fp-nav li span {border-color: rgb(96, 96, 96);}
/*세로스크롤 끝*/
.fp-section.footer{height: 190px !important; display: block}
.fp-section.footer > .fp-tableCell{height: 190px !important; display: block}
footer{}
address{margin: 0px auto; width: 100%; text-align: center; font-size: 12px; line-height: 25px; color: #fff; padding: 80px 0px; font-style: normal;background-color: #1e2328;}

@media screen and (max-width:1600px)
{
.swiper-slide > .text {font-size: 50px}
.nuri_menu_info {}
.main_tit > img {width: 50%}
.main_tit .text {font-size: 20px;}
.main_tit .text > p {font-size: 45px}
.main_tit .text > br{display: none}
.main_business {width: 100%}
.main_business > .title a {left: 0px}
.main_business ul li a {width: 33.33%; box-sizing: border-box}
.main_qna_info {}
.main_qna_info .qna {box-sizing: border-box}
.main_qna_info .nuri a {width: 35%;}
.main_news {width: 100%}
.main_news_info {box-sizing: border-box}
.location a {box-sizing: border-box}
.main_news {border: 0px}
}
@media screen and (max-width:1217px)
{
}
@media screen and (max-width:1120px)
{
#section02 {background-size: 40%}
.main_tit.bgw {background-size: 320px}
.main_tit .text {font-size: 18px; padding-top: 60px; padding-bottom: 65px;}
.main_tit .text > p {font-size: 35px}   
.main_business ul li a > p {font-size: 30px}
.main_qna_info {width: 100%; padding: 0px 20px; box-sizing: border-box}
.main_qna_info .qna > p {padding: 20px 0px; font-size: 18px}
.main_qna_info .qna > .btn a {position: relative; float: left}
.main_news_info {width: 100%; padding: 0px 20px; box-sizing: border-box}
.main_news_info .news {float: none}
.main_news_info .location {float: left;}
.main_news_info .news ul li {font-size: 18px; line-height: 35px}
.main_title {margin-top: 30px}
.location a {background-size: 400px}
.div_contact.nuri_menu {padding: 0px}
.nuri_menu_info {margin-top: 0px}
.nuri_menu_info ul li a {margin-right: 0px}
.nuri_menu_info ul li:nth-child(2) a {margin-top: 0px;}
.div_contact.nuri_menu {height: 300px; width: 100%;}
.nuri_menu_info{width: 100%; padding: 0px}
.nuri_menu_info ul li{float: left;width: 32%; height: 449px; position: relative; margin-right: 2%; background-size: 100%}
.nuri_menu_info ul li a{width: 100%;}
.nuri_menu_info ul li:nth-child(2){ margin-top: -50px}
.nuri_menu_info ul li:nth-child(3){margin-top: 10px}
.main_tit .solution {width: 100%}
.main_tit .solution p {font-size: 30px}
.main_tit .solution ul li a {width: 32%; margin-right: 2%}
.main_tit .solution_name {width: 100%; margin-top: 0px}
.main_tit .solution_name p {font-size: 30px}
.main_tit .solution_name ul li {width: 25%}
}
@media screen and (max-width:860px)
{
#section02 {background-size: 60%; background-position: 10% -50%,90% 110%;}
#fp-nav {display: none}
.swiper-slide{overflow: hidden; width: 100%}
.swiper-slide > img{width: 150%}
.swiper-slide > .text {font-size: 35px; letter-spacing: -1px}
.main_tit > img {width: 100%; position: relative; top: 0px}
.main_tit .text {margin: 0px 10px 0px 20px; font-size: 15px; padding-top: 0px}
.main_tit .text > p {font-size: 25px; margin-top: 20px}
.main_tit .solution p {font-size: 20px; padding-bottom: 20px}
.div_contact.nuri_menu {height: 250px}
.main_business ul li a {background-size: 60% !important; background-position: center 45% !important; padding-top: 200px; padding-bottom: 40px}
.main_business ul li a > p {font-size: 20px}
.main_business > .title a { background: url(../images/icon_add.png) 45px center no-repeat #dd3e50;
background-size: 30px; width: 200px; height: 100px; line-height: 100px;  border-radius: 50px; font-size: 30px; padding-left: 60px; top: -50px}

.nuri_menu_info ul li {width: 33%; margin-right: 0.5%}
.nuri_menu_info ul li:nth-child(2){margin-top: 0px}
.nuri_menu_info ul li:nth-child(3){margin-top: 0px}
.nuri_menu_info ul li a > p {font-size: 25px;}
.nuri_menu_info ul li a {font-size: 13px;}
.main_tit {margin-top: 0px}
.swiper-pagination {display: none}
.main_qna_info .qna > p {font-size: 15px}
.main_title {font-size: 25px}
.main_news_info .news ul {margin-top: 20px}
.main_news_info .news ul li {font-size: 15px; line-height: 32px}
.main_qna_info .qna > p {line-height: 25px}
.main_news_info::after{height: 200px}
.location a {background-size: 80%}    
.main_tit .solution_name p {background-image: none; font-size: 20px; padding-bottom: 0px; margin-bottom: 20px}
.main_tit .solution_name ul li {width: 33.33%}
.main_tit .solution_name ul li a > img {height: 18px;}
.main_tit .solution_name ul li a > img.h17 {height: 14px}
}
@media screen and (max-width:640px)
{
.swiper-slide > .text {font-size: 25px; text-align: center}
.main_business > .title a { background: url(../images/icon_add.png) 30px center no-repeat #dd3e50;
background-size: 25px; width: 150px; height: 60px; line-height: 60px;  border-radius: 30px; font-size: 20px; padding-left: 40px; top: -30px}
.main_business ul li a {padding-top: 150px}
.main_news {height: auto; clear: both}
.main_qna_info .qna {width: 100%}
.main_qna_info .nuri a {width: 100%; height: 200px; background-position: center 80%}
.main_qna_info .nuri a > img { padding-top: 50px; width: 120px;}
.nuri_menu_info ul li {width: 90%; height: 150px; margin-bottom: 20px; float: none; border-radius: 100px; margin: 0px 5% 20px;}
.nuri_menu_info ul li:nth-child(1) {background: url(../images/main_menu1_2.png) center 80% no-repeat;}
.nuri_menu_info ul li:nth-child(2) {background: url(../images/main_menu2_2.png) center center no-repeat;}
.nuri_menu_info ul li:nth-child(3) {background: url(../images/main_menu3_2.png) center 60% no-repeat;}
.nuri_menu_info ul li a {position: absolute; height: 150px; padding-top: 52px; padding-left: 0px; text-align: center;left: 0px; box-sizing: border-box}
.nuri_menu_info ul li a > p {font-size: 18px; }
.nuri_menu_info ul li a > p > br{display: none}
.main_news_info {width: 100%; position: relative; height: auto;}
.main_news_info::after {content: none}
.main_business ul li:hover a{background-color:#fff !important; transform:none; transition:none; color: #272727;}
.location{width: 100%}
.location a {width: 100%; height: 150px}
.main_tit .text {padding-bottom: 0px}
.main_tit .solution {margin-top: 20px}
.main_tit .solution ul li a {font-size: 20px; width: 100%; height: 90px; padding-top: 50px; color: #fff}
.main_tit .solution ul li:nth-child(1) a{background: url(../images/main_solution1_2.png) center top no-repeat;}
.main_tit .solution ul li:nth-child(2) a{background: url(../images/main_solution2_2.png) center top no-repeat;}
.main_tit .solution ul li:nth-child(3) a{background: url(../images/main_solution3_2.png) center top no-repeat;}
.main_tit .solution_name ul li {width: 50%;}
.top_button_wrap {margin-left: -30px; bottom: 160px}
.top_button_wrap img {width: 60px}
address > em{display: block}
}
@media screen and (max-width:460px)
{
.swiper-slide > .text {font-size: 20px; width: 100%; left: 0%; top: 40%}
.main_tit .text.small > p {font-size: 20px}
.swiper-slide > .text > b{display: block}
.main_business ul li a {padding-top: 100px}
.main_business ul li a > p {font-size: 15px}
.main_tit .text > p > br{display: none}
.main_tit .text > p > em{display: block}
.main_tit .text > p > b{display: block; font-size: 25px}
}
@media screen and (max-width:414px)
{
}
@media screen and (max-width:360px)
{
}
@media screen and (max-width:320px)
{
}
