@charset "utf-8";

/*reset*/
html {height:100%;}
body {min-height: 100%; height: 100%}

body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, legend, caption, label, input, textarea, button, select, iframe, object {margin:0;padding:0;}
img, a, span, abbr, address, pre, code, del, em, strong, sub, sup {margin:0; padding:0;}

h1, h2, h3, h4, th{font-weight: normal}

body, textarea {word-wrap:break-word;}
body, input, textarea, select, button, th, td {border:0 none;font-size:14px;font-family: -apple-system, -system-ui, "SFUIDisplay", "Malgun Gothic","맑은 고딕"; color:#2a3053;}

img,fieldset {border:0 none;}
img {display:block; font-size: 12px}
ul, ol, li {list-style:none;}

a,button {blr:expression(this.onFocus=this.blur());}
a,button {outline: none !important;border: 0; outline: 0} 
a:focus,button:focus {outline: none;border: 0; outline: 0} 

a {text-decoration:none;color:#2a3053; }
a:hover, a:active, a:focus {color:#2a3053;text-decoration:none;}
a:focus, input:focus, button:focus, textarea:focus {outline:1px dotted #2a3053;}

hr, caption, legend {display:none;}

input[type="text"] {border: 1px solid #d4d6dd; margin-right: 5px; height: 40px; line-height: 40px; padding: 0 12px; box-sizing: border-box; border-radius: 4px}
input[type="radio"] {height:15px;vertical-align:middle;margin-right:0px;border:none;} 
input[type="checkbox"] {height:15px;vertical-align:middle;margin-right:0px;border:none;}

input::-webkit-input-placeholder {color:#d4d6dd;}
input:-moz-placeholder {color:#d4d6dd;}
input::placeholder{color: #666; font-size: 14px}

input.search{background:url(../images/ic-search.png) 94% center no-repeat}
input.search:hover{border: 1px solid #2a3053}

.dropdown a{border: 1px solid #d4d6dd; background:url(../images/ic-fill-direction-down.png) 90% center no-repeat; color: #6a6e86; height: 40px; line-height: 40px; padding: 0px 40px 0px 20px; display: inline-block; border-radius: 4px}
.dropdown a:hover{border: 1px solid #2a3053; background:url(../images/ic-fill-direction-down_hover.png) 90% center no-repeat; color: #2a3053; position: relative}
.dropdown > a.open {background:url(../images/ic-fill-direction-up.png) 90% center no-repeat;}
.dropdown_info{position: absolute;border-radius: 4px; background-color: #fff; border: 1px solid #2a3053; display: none; z-index: 1; padding: 5px 0px}
.dropdown_info ul li{color: #6a6e86; height: 40px; line-height: 40px; padding-left: 20px}
.dropdown_info ul li:hover{background-color: #ecedf3; color: #2a3053}

.dropdown_table a{height: 40px; line-height: 40px; border: 1px solid #e1e1e1; width: 240px; border-radius: 4px; display: inline-block; background-color: #fff; color: #6a6e86}
.dropdown_table a:hover{border: 1px solid #2a3053}
.dropdown_table_info{border: 1px solid #2a3053; border-radius: 4px; display: inline-block;background-color: #fff; line-height: 1.5;}

.tooltip{position: relative}
.tooltip_info{position: absolute; display: none; color: #fff; background-color: #6a6e86; font-size: 14px;padding: 16px; border-radius: 4px;line-height: 1.5;font-weight: normal;}

/* button */
.btn {display: inline-block;color: #333333;background-color: #ecedf3; height: 40px; line-height: 40px; padding: 0px 24px; border: 0; outline: 0; border-radius: 4px}
.btn.invisible{background-color: #fff}
.btn:hover{background-color: #dadce7;}
.btn:active{background-color: #b5b9d0;}
.btn.disabled,.btn[disabled] {color: #a9acba; background-color: #f6f6f9; *background-color: #f6f6f9;}

.btn.big{height: 48px; line-height: 48px; padding: 0px 32px}
.btn.medium{height: 32px; line-height: 32px; padding: 0px 16px;}
.btn.small{height: 24px; line-height: 24px; padding: 0px 8px;}
.btn.fw{font-weight: bold}

.btn.red{background-color: #ffe2e4}
.btn.red:hover{background-color: #ffc6c9}
.btn.red:active{background-color: #ff6f77}
.btn.red.disabled,.btn.red[disabled]{background-color: #f6f6f9; color: #a9acba}

.badge_btn ul li{background-color: #f6f6f9; height: 40px; line-height: 40px; padding: 0px 14px; border-right: 1px solid #e8e9f0}
.badge_btn ul li:first-child{border-right: none; border-top-left-radius: 4px; border-bottom-left-radius: 4px}
.badge_btn ul li:last-child{border-right: none; border-top-right-radius: 4px; border-bottom-right-radius: 4px}
.badge_btn ul li:hover{background-color: #ecedf3}
.badge_btn ul li:active{background-color: #dadce8}
.badge_btn ul li.disabled,.badge_btn ul li[disabled]{background-color: #f6f6f9; color: #d4d6dd}

*{margin: 0; padding: 0}
html.body{height: 100%; overflow: hidden; margin: 0}

#wrapDiv p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, legend, caption, label, input, textarea, button, select, iframe, object {margin:0;padding:0;}
img, a, span, abbr, address, pre, code, del, em, strong, sub, sup {margin:0; padding:0;}

.wrap{width: 100%; height: 100%; overflow: auto; display: table}
.lnb_area{width: 320px; height: 100%; float: left; background-color: #2a3053; color: #fff}
/* lnb */
#lnb {position: relative;height: 100%;}
#lnb h1 {height: 104px; text-align:center; font-size: 18px; border-bottom: 1px solid #3f4564; position: relative}
#lnb h1 > img{position: absolute; top: 42px; left: 32px}
#lnb h1 > span{display: inline-block; position: absolute; top: 42px; left: 160px;}
/*프로젝트 열기*/
.memu_pro{margin: 31px 24px 0px 24px;}
.memu_pro > a{padding-left: 10px; height: 40px; box-sizing: border-box; line-height: 40px; color: #6a6e86; display: block; background:#fff; border-radius: 4px; background:url(../images/ic-fill-direction-down.png) 94% 12px no-repeat #fff;}
.memu_pro > a::before{content:''; background:url(../images/folder-fill.png) left center no-repeat; width: 20px; height: 20px; display: inline-block; margin-right: 22px; vertical-align: middle}
.memu_pro > a.open {background:url(../images/ic-fill-direction-up.png) 94% 12px no-repeat #fff;}
.menu_pro_info{width: 272px;position:absolute;left: 24px;top:180px;border-radius: 4px; background-color: #fff; display:none;z-index: 1}
.menu_pro_info ul li{height: 40px; line-height: 40px; padding-left: 52px; color: #6a6e86}
.menu_pro_info ul li:hover{background-color: #ecedf3}
.menu_pro_info ul li:nth-child(1):hover{border-top-left-radius: 4px; border-top-right-radius: 4px}
.menu_pro_info ul li:last-child:hover{border-bottom-left-radius: 4px; border-bottom-right-radius: 4px}
.menu_pro_info > a{display:block;width: 50px;height: 50px;background: #000;color:#fff;font-size: 50px;line-height: 1;text-align: center;}
.menu_pro_info > a:hove{color: #ecedf3}

#lnb > ul {margin-top: 20px}
#lnb > ul > li {}
#lnb > ul > li > a {display: block; height: 55px; line-height: 55px; font-size: 14px; color: #9497a9; position: relative; padding-left: 76px}
#lnb > ul > li > a::before{content: ''; width: 20px; height: 20px; display: inline-block; position: absolute; left: 32px; top: 18px; opacity: 0.5;}
#lnb > ul > li > a.pm::before{background:url(../images/ic-fill-user_2.png) no-repeat;}
#lnb > ul > li > a.mt::before{background:url(../images/ic-monitoring.png) no-repeat;}
#lnb > ul > li > a.cm::before{background:url(../images/ic-desktop.png) no-repeat;}
#lnb > ul > li > a.at::before{background:url(../images/ic-fill-user.png) no-repeat;}
#lnb > ul > li a:hover {color: #fff; background-color: #34395b;}
#lnb > ul > li > a:hover::before{opacity: 1}
/*#lnb > ul > li.on > a {color: #141a6a; font-weight: bold; background:#f1f9ff;}
#lnb > ul > li.on > a::after{content: '-';}*/
#lnb > ul > li ul {display: none;}
#lnb > ul > li > ul > li > a {display: block; height: 48px; line-height: 48px;color: #9092a0; background-color: #212642; padding-left: 76px}
#lnb > ul > li > ul > li > a:hover{color: #fff;background-color: #212642; position: relative}
#lnb > ul > li > ul > li > a:hover::before{content: ''; width: 3px; height: 3px; border-radius: 1px; display: inline-block; position: absolute; left: 49px; top: 23px; background-color: #d8d8d8}

.content_wrap{display: table-row; width: calc(100% - 320px); height: 100%; float: right}
.content_wrap.lnb_hide {width:100%}
.header{width: 100%; height: 104px; border-bottom: 2px solid #ff5000; box-sizing: border-box; position: relative; min-width: 1280px;}
.menu_lnb{margin: 23px 0px 0px 32px; display: inline-block}
.menu_lnb a{width: 56px; height: 56px; background-color: #fff; padding: 0px}
.menu_lnb a > img{padding: 15px 15px 16px 17px}
.header_info{top: 33px; right: 32px; position: absolute}
.header .man{display: inline-block; float: left;background:url(../images/ic-fill-direction-down.png) 80% 12px no-repeat;}
.header .man a{display: inline-block; height: 40px; line-height: 40px; padding-right: 40px}
.header .logout{display: inline-block}
.header .logout a{display: inline-block; width: 73px; height: 40px; line-height: 40px; text-align: center; background-color: #fff; border-radius: 4px; padding: 0px}
.header .logout a:hover{background-color: #dadce7;}
.header .logout a:active{background-color: #b5b9d0;}

.fl{float: left}
.fr{float: right}
.pdl8{padding-left: 8px}