<header class="header_wrap">		 
<div id="header">
<h1 class="logo pc">
    <a href="/">
        <img alt="누리인포스" src="/images/logo.png">
    </a>
</h1>
<h1 class="logo mobile">
    <a href="/">
        <img alt="누리인포스" src="/images/logo.png">
    </a>
</h1>
<a class="ham_btn ham_open active" href="#">
    <img alt="모바일 전체메뉴 열기" src="/images/ham_btn.png">
</a>
<a class="ham_btn ham_close" href="#">
    <img class="ham_close" alt="모바일 전체메뉴 닫기" src="/images/ham_close.png">
</a>
 <!-- .gnb_wrap -->					 
<nav class="gnb_wrap">
<h2 id="gnbAnchor">글로벌 네비게이션 영역</h2><!-- #gnb -->						 
<div id="gnb">
<ul class="gnb_1depth">
<li>
    <h3><a href="/move/business/solution1.html">Business<span class="gnb_bar"></span></a></h3>
    <ul class="gnb_2depth">
        <li><h4><a href="/move/business/solution1.html">Solution</a></h4></li>
        <li><h4><a href="/move/business/service.html">Service</a></h4></li>
        <li><h4><a href="/move/business/industries.html">Industries</a></h4></li>
    </ul>
</li>
<li>
    <H3><a href="/move/about/about1.html">About NIS<span class="gnb_bar"></span></a></H3>
    <ul class="gnb_2depth">
        <li><h4><a href="/move/about/about1.html">At a Glance</a></h4></li>
        <li><h4><a href="/move/about/about2.html">Mission/Core Value</a></h4></li>
        <li><h4><a href="/move/about/about3.html">Footprint</a></h4></li>
        <li><h4><a href="/move/about/about4.html">Reference</a></h4></li>
        <li><h4><a href="/move/about/about5.html">Location</a></h4></li>
    </ul>
</li>
<li>
  <h3><a href="/move/recruiting/recruiting1.html">Recruiting<span class="gnb_bar"></span></a></h3>
  <ul class="gnb_2depth">
    <li><h4><a href="/move/recruiting/recruiting1.html">인재상</a></h4></li>
    <li><h4><a href="/move/recruiting/recruiting2.html">인사제도</a></h4></li>
    <li><h4><a href="/move/recruiting/recruiting3.html">상시채용</a></h4></li>
  </ul>
</li>
<li>
    <h3><a href="/move/contact/contact1.html">Contact Us<span class="gnb_bar"></span></a></h3>
    <UL class="gnb_2depth">
        <li><h4><a href="/move/contact/contact1.html">News Room</a></h4></li>
        <!--<li><h4><a href="/move/contact/contact2.html">Brochure</a></h4></li>-->
        <li><h4><a href="/move/contact/contact3.html">Inquiry</a></h4></li>
        <li><h4><a href="/move/contact/contact4.html">Contact point</a></h4></li>
    </UL>
</li>
</ul>
</div><!-- // #gnb -->
</nav>
    <!-- 언어 선택 (오른쪽) -->
    <div class="gnb_lang">
        <div class="gnb_eng">
            <a href="/en">English</a>
        </div>
        <!--<div class="gnb_kor">
            <a href="/">KOR</a>
        </div>-->
    </div>
</div> 
<div class="gnb_bg"></div>
<div class="gnb_mo_bg"></div>
</header>