<nav class="gnb">
    <div class="gnb-container">
        <a href="/" class="logo-link">
            <img src="/images/landing/logo-nuriinfos_w.svg" alt="NURIINFOS" class="logo">
        </a>
        <button class="mobile-menu-btn" aria-label="메뉴 열기">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="gnb-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">ABOUT</a>
                <ul class="sub-menu">
                    <li><a href="/company/introduction">기업 개요</a></li>
                    <li><a href="/company/history">연혁 &amp; 인증</a></li>
                    <li><a href="/company/careers">인재 채용</a></li>
                    <li><a href="/company/location">오시는 길</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">BUSINESS</a>
                <ul class="sub-menu">
                    <li><a href="/business/retail">스마트 유통</a></li>
                    <li><a href="/business/public">지능형 공공</a></li>
                    <li><a href="/business/cloud">클라우드 인프라</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">SOLUTIONS</a>
                <ul class="sub-menu">
                    <li><a href="/solutions/nuriaf">NuriAF</a></li>
                    <li><a href="/solutions/studioloop">StudioLoop®</a></li>
                    <li><a href="/solutions/saida">Saida®</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">ARCHIVE</a>
                <ul class="sub-menu">
                    <li><a href="/archive/casestudy">구축 사례</a></li>
                    <li><a href="/archive/notice">공지사항</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">CONTACT</a>
                <ul class="sub-menu">
                    <li><a href="/contact/support">기술지원</a></li>
                    <li><a href="/contact/inquiry">문의하기</a></li>
                </ul>
            </li>
            <li class="nav-item globe-item">
                <img src="/images/landing/icon-globe.svg" alt="언어 선택" class="icon-globe">
            </li>
        </ul>
    </div>
</nav>