<footer>
    <div class="footer_area">
        <div class="f_link">
            <ul>
                <li><a href="/en/move/recruiting/recruiting3.html">Nuri Careers</a></li>
                <li><a href="/en/move/contact/contact1.html">Nuri News</a></li>
                <li><a href="/en/move/contact/contact3.html">Contact Us</a></li>
            </ul>
        </div>
        <address>
            <img src="/images/logo2.png" alt="누리인포스">
            <div class="info">
                A-1003, U-Space 1, 660, Daewangpangyo-ro, Bundang-gu, Seongnam-si, Gyeonggi-do, 463-400, Korea
                <em>TEL 031-504-7261 FAX 031-504-7271</em>
                <p>ⓒ COPYRIGHT NURIINFOS.CO.Ltd. Allright Reserved.</p>
            </div>                    
        </address>
        <div class="facilitation">
            <ul>
                <li><a href="https://m.blog.naver.com/PostView.nhn?blogId=turandot428&logNo=221166722288&proxyReferer=https:%2F%2Fwww.google.com%2F" target="_blank"><img src="images/footer_b.png" alt="네이버 블로그"></a></li>
                <li><a href="https://bluester.tistory.com/382" target="_blank"><img src="images/footer_f.png" alt="페이스북"></a></li>
                <li><a href="https://cs.daum.net/faq/59/14971.html#37917" target="_blank"><img src="images/footer_c.png" alt="다음 카페"></a></li>
            </ul>
        </div>
    </div>
</footer>   